<div class = "col d-flex justify-content-center">
    <div class="card bg-info text-white" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">About Us</h5>
            <p class="card-text">Welcome to the eCommerce site where you can buy and sell products.</p>
        </div>
    </div>
</div>
<div class="col d-flex justify-content-center">
    <div class="card bg-info text-white" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Contact Info</h5>
            <p class="card-text"><b>Phone:</b>(123) 456-7890</p>
            <p class="card-text"><b>Email:</b>ecommerce123@domain.net</p>
        </div>
    </div>
</div>

