<!-- Took this all out of form tag -->
<div class="imgcontainer">
  <img src="../../assets/person.png" alt="Avatar" class="avatar">
</div>

<!-- TODO: update inputs -->
<div class="container">
  <label for="uname"><b>Username</b></label>
  <input type="text" placeholder="Enter Username" id="username" [(ngModel)]="username" name="username" required>

  <label for="psw"><b>Password</b></label>
  <input type="password" placeholder="Enter Password" id="password" [(ngModel)]="password" name="password" required>

  <button (click)=handleLogin()>Login</button>
  <a routerLink="/register">Register</a>
  
</div>