


/*nav ul{
    background-color: black;
    display: flex;
    justify-content: stretch;
    list-style-type: none;
    text-align: center;

}

nav li{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}

a{
    text-decoration: none;
    color: white;
    font-size: 2rem;
}

a:hover{
    color: blue;
}*/