<iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
<form action="http://localhost:9080/api/listings" method="post" target="dummyframe">
  <div class="container">
    <h1>Upload</h1>
    <p>Please fill in this form to upload a product.</p>
    <hr>

    <label for="product"><b>Product Name</b></label>
    <input type="text" placeholder="Enter Product Name" name="name" id="product" required>

    <label for="price"><b>Price ($)</b></label>
    <input type="number" placeholder="Price" name = "price" id="price" step="0.01" required>
  
    <label for="Description"><b>Description (optional) </b></label>
    <textarea name="description" id="desc"></textarea>
    <hr>

    <label for="Image"><b>Image (optional) </b></label>
    <br>
    <input type="file" id="img" name="img" accept="image/*" (change)="onFileSelected($event)">
    <hr>

    <input type="hidden" name="image" value={{fileName}}>

    <button type="submit" class="uploadbtn" (click)="formSubmit()">Upload</button>
  </div>
</form>

