<form action="action_page.php">
    <h1>Register</h1>
      <p>Please fill in this form to upload a product.</p>
      <hr>
    
    <label for="product name">Product Name</label>
    <input type="text" placeholder="Product Name" name="product" id="product" required>
    
    <label for="price">Price</label>
    <input type="number" placeholder="Price" name = "price" id="price" required>

    <label for="Description">Description</label>
    <input type="text" placeholder="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo earum ut cumque iste! Voluptatum, quos provident perspiciatis fugiat dignissimos earum id aperiam quasi vel, sit aliquam facere numquam dolor amet!", name="desc", id="desc">

    <button type="submit" class="uploadbtn">Upload</button>
</form>