<div class="card" style="width: 18rem;">
    <img src="../../assets/product.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Sample Product</h5>
      <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo earum ut cumque iste! Voluptatum, quos provident perspiciatis fugiat dignissimos earum id aperiam quasi vel, sit aliquam facere numquam dolor amet!</p>
      <a href="#" data-value="5.99" class="btn btn-primary">$5.99</a>
    </div>
  </div>
