<div class="card-group" id="0">
  <div class="card" style="width: 18rem;">
    <img src="../../assets/product.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title" id="title">Sample Product</h5>
      <p class="card-text" id="desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo earum ut cumque iste! Voluptatum, quos provident perspiciatis fugiat dignissimos earum id aperiam quasi vel, sit aliquam facere numquam dolor amet!</p>
      <a href="#" class="btn btn-primary" id="price" onclick="store(0)">$5.99</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;" id="1">
    <img src="../../assets/product.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title" id="title">Sample Product2</h5>
      <p class="card-text" id="desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo earum ut cumque iste! Voluptatum, quos provident perspiciatis fugiat dignissimos earum id aperiam quasi vel, sit aliquam facere numquam dolor amet!</p>
      <a href="#" class="btn btn-primary" id="price" onclick="store(1)">$6.99</a>
    </div>
  </div>
</div>